@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {

  margin: 0px;
  height: 100%;
  width: 100%;
}



body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif; 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  
  
}

img {
  width: 600px;
}

.header {

  display:flex ;
  align-items:flex-start;
  justify-content: space-between;

}

.content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {

  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}





ul{
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 10px;
  list-style: none;
}



button {

  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}


a{
  color: rgb(56, 54, 54);
  text-decoration: none;
}
